body {
    font-family: 'Poppins', sans-serif;

    padding: 0%;
    margin-bottom: 100px;



}

.background-image {
    background-image: url(/image/donate.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    margin-bottom: 100PX;

}

* {
    margin: 0%;
    padding: 0%;
}



.font-sizeh1 {
    font-size: 50px;
    color: white;
    text-align: center;

}

.text-align {
    margin: 0%;
    padding: 0%;
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
}

.align {
    text-align: center;
}

.para-align {
    text-align: center;
    color: white;
}

.donate-button {
    text-align: left;
}

.button-align {
    margin: 0%;
    padding: 0%;
    font-size: 24px;

    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);

}

.button-decorate {
    text-decoration: none;
    background-color: tomato;
    width: 150px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 10px;
    color: white;

}

.donate-text {
    text-align: center;
    font-size: 35px;
}

#align-para {
    text-align: center;
}

.donate-section {
    width: 40%;
    padding-left: 30%;
}


.padding-dollar {
    padding-left: 20px;
    text-align: center;

}

.dollar-width {
    width: 150px;
    text-align: center;
}

.display-fx {
    display: flex;

    padding-left: 15%;
    padding-top: 20px;

}

.fontsize-para {
    font-size: 18px;
}

.border {

    border-radius: 5px;
    padding-right: 5px;
    height: 50px;
    padding-top: 15px;


}